
.Card {
    position:relative;
    margin:20px;
    padding:20px;
    background-color: green;
    border-radius: 20px;
    
}
.Card-footer{
    position:absolute;
    bottom:0;
    right:10px;
}
.CardName{
    text-align: right;
}
.Card-img{
    width:100%;
}

.Card-like{
    color:red;
}
.Card-unlike{
    color:black;
}
