
.Header-title-wrapper{
    background:rgb(178,75,71);
    padding:10px ;
    padding-left:25px;
    padding-right:25px;
    border-bottom-right-radius: 10px;
    width: 200px;
    padding-bottom:13px;

}

.Header-title{
    width:170px;
    padding: 0px 0;
    margin:auto;
    color: white;
    border-bottom: 3px solid rgba(255,255,255,0.5);
}

.Header-title>p{
    font-size : 20px;
    font-weight: lighter;
    display: inline;
}
.Header-title>h1{
    font-weight: lighter;
    display: inline;
}